/*
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
# 
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

/* 
COLORS:
RED: #FF1946
BLUE: #00B5FF
ORANGE: #FF931F
YELLOW: #FCE94F
GREEN: #0DD100
WHITE: #FDFDFD
FOREGROUND: #827082 #6B5C6B
*/
@define-color gamma_bg_color #FDFDFD;
@define-color gamma_fg_color #827082;
@define-color gamma_warning_color #FF931F;
@define-color gamma_error_color #FF1946;


#gamma_window * {
	border:none;
	box-shadow:none;
}
#gamma_window  {
	background:transparent;
}

/* from theme */
headerbar entry, headerbar button, headerbar separator {
  margin-top: 6px;
  margin-bottom: 6px;
 
}

headerbar {
	box-shadow: none;
} 

.openned_file button,
.openned_file_editted button {
	border:none;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	font-style:normal;
	-gtk-icon-shadow: none;
}

 



#window {
    background-color: transparent;
    border:none;
}


.titlebar, headerbar {
    min-height: 0px;
    margin: 0px;
}

/********** HEADER *************/
#headerPaned, #headerbarMain, #headerbarSide {    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#headerPaned > separator {
	background: rgba(253, 253, 253, 0.84);
}
 

#headerbarMain, #headerbarMain * {
	background: #fdfdfd;
	color: rgba(130, 112, 130, 0.77);
	border:none; 
}

#headerbarMain {
	padding: 8px 0 8px 0;
}

#headerbarMain .title {
	color: #827082;
	font-size: 16px;
}
.openned_file_editted#headerbarMain .title {
	color: #FF931F;
}
 


#searchEntry {
	margin:0 0 0 10px;
	padding:0;
	background: #fdfdfd;
	font-family: monospace;
	font-size: 20px;
}
#searchEntry:focus {
	box-shadow: none;
}


#headerbarMain entry selection {
	background: #e1e0e1;
}

#headerbarMain*.searching, #headerbarMain*.searching *,
#headerbarMain*.messageImportant, #headerbarMain*.messageImportant * {
       color:#00B5FF;
}
#headerbarMain*.searchSuccess, #headerbarMain*.searchSuccess *,
#headerbarMain*.messageSuccess, #headerbarMain*.messageSuccess * {
	color: #0DD100;
}
#headerbarMain*.searchFail, #headerbarMain*.searchFail * ,
#headerbarMain*.messageFail, #headerbarMain*.messageFail * {
	color: #FF1946;
}







#messageLbl {
	font-family: monospace;
	margin-right:21px;
}


/********** HEADER LEFT SIDE *************/
#headerbarSide {
	background: rgba(253, 253, 253, 0.77);
	border:none;
}

#headerbarSide * {
	color: #827082;
	border: none;
}

#logo {
	background: rgba(253, 253, 253, 0.82); 
	color: #00B5FF;
}

/********** BODY *************/
#bodyPaned > separator {
	background:  rgba(253, 253, 253, 0.77);
}

#toolbar_side {
    background-color:transparent;
    min-width: 34px;
    min-height: 100px;
}
#viewport {
	background:transparent;
}
#toolbar_files {
    background:  rgba(253, 253, 253, 0.75);
	padding-left:0px;
	padding-right:0px;
    padding-top:0px;
}


#toolbar_ctrls {
    background: rgba(253, 253, 253, 0.77);
    padding-top: 16px;
    padding-bottom: 18px;
}



/********** FILES *************/
.openned_file { 
	background:transparent;
	border:none;
	margin: 0 0 0 0;
	
	border-style: dotted none none none;
	border-width: 3px;
	
	border-color: rgba(130, 112, 130, 0.17);
	font-size: 1.05em;
}

.openned_file button { 
	background:transparent;
	border:none;
	margin: 0;
	padding-top: 17px;
	padding-bottom: 17px;
	font-size: 1.05em;
}
 

.openned_file_editted button label {
	color: #EE820D;
	font-style: italic;
}
.close_btn label {
	color: transparent;
}
.close_btn:hover {
	background: rgba(255, 25, 70, 0.85);
	font-weight:bold;
	color: #fdfdfd;
}


.openned_file_hover label  {
	text-decoration: none;
	color: #6B5C6B;
}


.openned_file_hover.openned_file_editted label  {
	text-decoration: none;
	color: #FF931F;
}
.close_btn:hover label {
	color: #fdfdfd;
}


.openned_file_hover  {
	background: rgba(253, 253, 253, 0.22);
}
.openned_file * { 
	color: #827082;
}
.openned_file_current_displayed {
	background: rgba(253, 253, 253, 0.10);
	font-weight: bold;
}
.openned_file_current_displayed label {
	color:#6B5C6B;
}



/********** MENUS *************/
.menu {
	background:transparent;
	border:none;
	color: #6A636A;
	margin-top: 0px;
	padding: 6px 0 6px 0;
	box-shadow:none;
	border-radius: 0;
	margin-left:0;
	margin-right:0;
}

.menu_hover {
	color: #6B5C6B;
	background: rgba(253, 253, 253, 0.22);
}

.menu_attention { 
	color: #FF931F;
	background: rgba(253, 253, 253, 0.22);
	font-style: italic;
	font-weight: bold;
}


#find_menu.menu_attention {
	color: #00B5FF;
	font-weight: bold;
}

#find_replace_menu.menu_attention {
	color: #00B5FF;
	font-weight: bold;
}



/********** BUTTONS *************/
#closeBtn {
    background: #FF1946;
    border-radius: 100%;
}


#maximizeBtn {
    background: #0DD100;
    border-radius: 100%;
}


#minimizeBtn {
    background: #FCE94F;
    border-radius: 100%;
}


.scrolledwindow {
	border:none;
}

/*.sourceviewclass {*/
/*	font-family: monospace;*/
/*    font-size: 20px;*/
    /* font-size: 10px;*/
/*}*/



/******************* COMMANDER WINDOW *********************/

#commanderSearchEntry, #commanderSearchEntry * {
	color:#827082;
	background: #fdfdfd; 
	font-family: monospace;
	font-size: 22px;
	min-height: 40px;
}
#commanderSearchEntry {
	border-radius: 0px;
	padding:0 5px 0 5px;
}

#commanderSearchEntry selection {
	background: #e1e0e1;
}
#commanderList{
	background: #f9f9ff;
	padding-top:4px;
}

.commanderRow {
	color:#827082;
	font-size: 18px;
	padding: 10px 30px 10px 30px;
	border:none;
}

#commanderList row {
	border:none;
}

#commanderList row:hover {
	color: #FDFDFD;
	background: rgba(0, 181, 255, 0.15);
	border:none;
}

#commanderList row:selected, #commanderList row:selected label {
	background:#00B5FF;
	color:#fdfdfd;
	font-weight:bold;
	border:none;
}






/******************* FIND AND REPLACE *********************/
#find_replace_window button {
	margin: 0 5px 0px 10px;
}

#find_replace_window #find_prev_btn,
#find_replace_window #replace_btn {
	margin-bottom:2px;
}

#find_replace_window #find_btn,
#find_replace_window #replace_all_btn {
	margin-top:2px;
}

#find_replace_window #find_status_lbl {
	color: #827082;
}

#find_replace_window textview {
	color:red;
	font-size: 17px;
	padding: 7px;
}

#find_replace_window #find_box {
	margin: 0 0 0px 2px;
}





/******************* BOTTOM PANEL *********************/
notebook {
	background-color: @gamma_bg_color;
}

